body {
    margin: 0;
    padding: 0;
}

.intropage {
    background: url(./images/pexels-sabrina-gelbart-249798.jpg) no-repeat center center fixed;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 17em;
    padding-top: 3em;
}

nav {
    color: #fff;
    text-align: right;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 23px;
    padding-top: 1.5em;
}

.navdiv {
    /*for a fixed navbar*/
    overflow: hidden;
    background: url(./images/pexels-sabrina-gelbart-249798.jpg);
    position: fixed;
    /* Set the navbar to fixed position */
    top: 0;
    /* Position the navbar at the top of the page */
    width: 100%;
}

a {
    text-decoration: none;
    color: #fff;
}

.about {
    padding-bottom: 10px;
    transition: 1s;
}

.about:hover {
    opacity: 0.7;
    border-bottom: 5px solid #FC427B;
    box-shadow: 5px solid #FC427B;
    cursor: pointer;
    position: absolute;
    /*corrected the shifting of other divs downward upon hover*/
}

.myworks {
    padding-bottom: 10px;
    transition: 1s;
}

.myworks:hover {
    opacity: 0.7;
    border-bottom: 5px solid #FC427B;
    cursor: pointer;
    position: absolute;
    /*corrected the shifting of other divs downward upon hover*/
}

.contact {
    padding-bottom: 10px;
    transition: 1s;
}

.contact:hover {
    opacity: 0.7;
    border-bottom: 5px solid #FC427B;
    cursor: pointer;
    position: absolute;
    /*corrected the shifting of other divs downward upon hover*/
}

.introduction {
    margin: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 120px;
}

div>span {
    color: #fff;
    font-size: 30px;
}

.name {
    font-size: 80px;
    letter-spacing: 0.2em;
    font-family: 'Roboto', sans-serif;
}

.job {
    padding-top: 20px;
}

.btnsection {
    text-align: center;
    margin-top: 40px;
}

.btn {
    color: #2f3542;
    border: 2px solid #12CBC4;
    background-color: #12CBC4;
    border-radius: 30px;
    padding: 25px 80px 25px 80px;
    font-family: 'Montserrat', sans-serif;
    width: 300px;
    text-align: center;
    font-size: 23px;
    font-family: 'Roboto', sans-serif;
    transition: 1s;
}

button:hover {
    font-family: 'Roboto', sans-serif;
    color: #fff;
    background-color: #FC427B;
    border: 2px solid #FC427B;
    cursor: pointer;
}

.aboutpage,
.contactpage {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-bottom: 22em;
}

.contactpage {
    margin-bottom: 22em;
}

.aboutheader,
.contactheader {
    font-family: 'Roboto', sans-serif;
    font-size: 2.5em;
    margin-top: 6em;
}

.about-text,
.contact-text {
    line-height: 30px;
    align-self: center;
    width: 70%;
}

.recentprojects {
    color: #2f3542;
    border: 2px solid #12CBC4;
    background-color: #12CBC4;
    border-radius: 30px;
    padding: 25px 80px 25px 80px;
    font-family: 'Montserrat', sans-serif;
    width: 60%;
    text-align: center;
    font-size: 23px;
    font-family: 'Roboto', sans-serif;
    transition: 1s;
}

.recentprojects:hover {
    font-family: 'Roboto', sans-serif;
    color: #fff;
    background-color: #FC427B;
    border: 2px solid #FC427B;
    cursor: pointer;
}

footer {
    background-color: #12CBC4;
    padding-top: 1em;
    padding-bottom: 1em;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-weight: 700;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
}